<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon" href="/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#000000"/>
  {% block stylesheets %}
    {{ encore_entry_link_tags('styles') }}
  {% endblock %}

  {% block javascripts %}
  {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
